<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#nav_home_id").attr("class", "active");
            $("#nav_about_id").attr("class", "");
            $("#nav_photo_id").attr("class", "");
            $("#nav_article_id").attr("class", "");
            $("#nav_message_id").attr("class", "");
        });
    </script>

</head>
<body>

<% include template_header1.ejs %>

<% if (locals.success) { %>
<div id="alt_success" class="alert alert-success">
    <%- success %>
</div>
<% } %>

<% if (locals.error) { %>
<div id="alt_warning" class="alert alert-warning">
    <%= error %>
</div>
<% } %>

<div class="container">
    <% include template_left.ejs %>

    <% include template_right.ejs %>
</div>

<% include template_footer_1.ejs %>

</body>
</html>
