<div class="container">
    <div class=" template_footer">
        <footer class="modal-footer">
            <div>本网站的源码已经上传 github：https://github.com/jihongwei003/blog.git</div>
            <p>&copy; Company 2015</p>
            <span class="glyphicon glyphicon-home"></span> <a href="#header_logo"> Return Top</a>
        </footer>
    </div>
</div>