/*all ejs*/

body {
    background-color: rgba(226, 221, 234, 0.43);
}

/*template_header1.ejs*/

.template_header {
    background: #556a7f;
}

.template_header_logo {
    clear: both;
    overflow: hidden;
    padding: 1em 0;
    border-bottom: 1px solid #6f879a;
}

.template_header_logo a img {
    width: 100px;
    height: 100px;
    border: 5px solid #464863;
}

.template_header_logo a h1 {
    display: inline;
    color: #D46A40;
    padding-left: 20px;
    position: relative;
    top: 30px;
}

/***************************/

.template_header_logo > a > div {
    color: #556a7f;
    margin-top: 20px;
    margin-left: 40px;
    transition: margin-top 0.5s, color 1s;
}

.template_header_logo > a > div:hover {
    color: #D46A40;
    margin-top: 40px;
}

.template_header_logo > a > img {
    animation-name: myfirst;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

@keyframes myfirst {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/***************************/

.template_header_container {
    position: relative;
}

.template_header_right {
    position: absolute;
    top: 40px;
    left: auto;
    right: 10px;
}

.template_header_right ul li {
    display: inline;
}

.template_header_right ul li a {
    color: #D46A40;
    margin: 0 .5em;
}

/***************************/

.template_header_nav {
    padding: 1em 0;
}

.template_header_nav ul {
    padding: 0;
    margin: 0;
}

.template_header_nav ul li {
    display: inline-block;
    margin: 0 .5em;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16px;
}

.template_header_nav ul li a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #8ca9b9;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1em;
    margin: 0.8em 1.3em;
}

.template_header_nav ul li a:hover,
.template_header_nav > ul > li.active > a {
    color: #fff;
}

.template_header_nav > ul > li > ul {
    position: absolute;
    margin-top: 15px;
    left: -25px
}

.template_header_nav > ul > li > ul > li > a:hover {
    color: #D46A40;
    background-color: #ffffff;
}

/*template_footer1.ejs*/

.template_footer div {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.template_footer p {
    display: inline;
}

/*template_right*/

.template_right div h4,
.template_right div h6 a {
    color: #556a7f;
}

.template_right div h6 {
    padding-top: 10px;
}

.template_right div h6 a:hover {
    color: #D46A40;
}

.template_right > div {
    margin-top: 50px;
}

/*about.ejs*/

.about > h2 {
    text-align: center;
    color: #556a7f;
    padding-top: 20px;
}

/*photo.ejs*/

.photo_album > h2 {
    text-align: center;
    color: #556a7f;
    padding-top: 20px;
}

.photo_album ul li {
    display: inline;

}

.upload_photo_btn {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.photo_album ul li div {
    display: inline;
    margin-left: 35px;
    margin-right: 35px;
    box-shadow: 0px 1px 5px -1px rgba(104, 123, 144, 0.31);
    border-radius: 0.3em;
    margin-top: 30px;
    background-color: #ffffff;
}

#pagination {
    margin-left: 75px;
    margin-right: 75px;
}

/*article.ejs*/

.article_container > h2 {
    text-align: center;
    color: #556a7f;
    padding-top: 20px;
}

.article {
    box-shadow: 0px 1px 5px -1px rgba(104, 123, 144, 0.31);
    border-radius: 0.3em;
    margin-top: 30px;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*message.ejs*/

.message_container > h2 {
    text-align: center;
    color: #556a7f;
    padding-top: 20px;
}

.message_container > div {
    text-align: right;
}

.message_container > div > a {
    color: #D46A40;
    font-size: 150%;
}

.message_container > div > a:hover {
    text-decoration: none;
    color: #D46A40;
    /*font-size: 200%;*/
}

.triangle_icon {
    border-width: 0px 0px 20px 22px;
    border-style: solid;
    border-color: transparent transparent transparent #556a7f;
    left: 900px;
    top: 20px;
    width: 0px;
    height: 0px;
    position: absolute;
}

.circle_icon {
    background: #556a7f;
    border-radius: 50%;
    border: 2px solid rgb(185, 185, 185);
    border-image: none;
    left: 925px;
    top: 16px;
    width: 10px;
    height: 10px;
    position: absolute;
}

.message_list {
    width: 971px;
    float: right;
    margin-right: 100px;
}

.message_list > li {
    padding-top: 20px;
    padding-bottom: 20px;
    border: #556a7f;
    border-right-width: 2px;
    border-right-style: solid;
}

.message_box {
    background: #5a7a8f;
    border-radius: 6px;
    width: 900px;
    position: relative;
}

.message_box > h3 {
    padding-top: 10px;
    padding-left: 10px;
}

.message_box p {
    color: #a3c2d2;
    padding: 0px 20px 20px;
    line-height: 24px;
}

.message_info {
    overflow: hidden;
}

.message_footer {
    background: #556a7f;
    padding: 0px 10px;
    border-radius: 0px 0px 6px 6px;
}

.message_footer li {
    line-height: 26px;
    font-size: 11px;
    margin-right: 10px;
    display: inline;
}

.message_footer li a {
    color: #D46A40;
}

.message_footer li a:hover {
    color: rgb(153, 51, 51);
}

.message_delete {
    padding: 0px 0px 0px 14px;
    float: right;
    background-position: 0px -240px;
}

.message_reply {
    padding: 0px 0px 0px 14px;
    float: right;
    background-position: 0px -220px;
}

.message_time {
    background-position: 0px -208px;
    padding: 0px 0px 0px 18px;
}

/*article_detail.ejs*/

.detail_container > h1,
.detail_container > p {
    color: #556a7f;
    text-align: center;
}

.detail_container > a {
    font-size: 150%;
}

.detail_container > div > a {
    font-size: 150%;
    color: #D46A40;
    float: right;
}

.detail_container > div > a:hover {
    text-decoration: none;
}

.detail_content {
    background-color: #ffffff;
    box-shadow: 0px 1px 5px -1px rgba(104, 123, 144, 0.31);
    border-radius: 0.3em;
    padding: 20px 20px;
}